 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 257px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  width: 770px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  margin-top: 2px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  width: 307px;
  margin: 40px auto 60px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#130065, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-image-1 {
  width: 503px;
  height: 512px;
  margin: 68px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: -512px 89px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 733px;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 346px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -346px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 590px;
  background-image: url("images/35SemTtulo_20220306135206.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-3 .u-text-1 {
  margin: 54px 21px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 12px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }
} .u-section-4 {
  background-image: url("images/swa-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 71px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 99px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-gap: 10px 10px;
  min-height: 246px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 15px;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 6px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 38px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 203px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 208px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 622px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1050px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 387px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-top: 490px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 451px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: -29px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 1px auto 0 10px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0 10px;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sa-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 308px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 900px;
  margin: 60px auto 60px 120px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 189px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 -12px 0 60px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 189px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }
}